
/* Header Box */
.head {
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 100%;
    height: 70px;
    border-color: silver;
    border-bottom: solid 5px #ccc;
    background-color: #fff;
    width: 100%
    
}
 /* Name element */
.name {
    background-color: #4aaaa5;
    color: #FDFEFE;
    text-align: center;
    font-size: 40px;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    left: 10%;
    
}
/* Page links */
.pages {
    position: absolute;
    font-size: 25px;
    top:25px;
    right: 15%;
    color: silver;
    list-style-type: none;
    

}
/*  Inline UL */
.pages li {
    display: inline;
    margin: 10px;

}
/* styling for center link - border on sides */
.port {
    border-color: silver;
    padding: 0 7px 0 7px;
    border-left: solid 2px;
    border-right: solid 2px;
}


/* styling for big background box*/
.background {
    width: 100%;
    height: 600px;
    background-color: #f2f2f2;
}

/* box for the bio section includes heading text and image in div*/

.bio {
    width: 650px;
    height: 500px;
    border: 5px solid #dddddd;
    float: left;
    margin-top: 20px;
    position: absolute;
    left: 10%;
    
}

/* top banner of bio section */
.aboutme {
    width: 650px;
    height: 75px;
    border-bottom: 2px solid #dddddd;
    font-size: 35px;
    font-weight: bold;
    color: #4aaaa5;
    
}

/*  positioning for 'about me' text */
#am {
    position: absolute;
    top: 25px;
    left: 35px;
    font: #4aaaa5;

}
/* formatting for box with image and text */

.info {
    width: 650px;
    height: 425px;
    font-size: 22px;

    }

p {
    font: #777777;
}


/* formatting image */
#image {
    height: 250px;
    width: 250px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

/* style for the contact box */

.contact {
    width: 270px;
    height: 200px;
    background-color: #4aaaa5;
    float: right;
    position: absolute;
    right: 10%;
    margin-top: 95px;
    border: 2px solid #dddddd;
    
}
 
/* style for Connect with me Text */
.connectme {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}


/* styling for links as a group Page links */

 .links {
     margin-top: 50px;
 }   


/*  Inline Links */
.links li {
 
    display: inline;
    margin: 10px;
    
}

/* styling the footer*/

.foot {
    width: 100%;
    height: 70px;
    border-color: silver;
    border-bottom: solid 5px #ccc;
    background-color: #666666;
    position: fixed;
    bottom: 0;
    border-style-bottom: 2px solid silver;

}

.crtext {
    color: #FDFEFE;
    text-align: center;
    margin-top: 28px;
}